<h1>Your Profile</h1>
<p>Email: <%= @user.email %></p>
<p>Name: <%= @user.name %></p>
<p>Bio: <%= @user.bio %></p>
<div class="mt-4">
  <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
</div>